# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Poetry
poetry.lock
.env
*.env
.cache/
*.venv/
venv/
.mypy_cache/
.pytest_cache/

# Docker
.git
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.env
.env.*
node_modules/
dist/
build/
*.sarif
.DS_Store

# PyCharm
.idea/
.vscode/

# Test coverage & reports
htmlcov/
coverage.xml
*.cover
*.py,cover
nosetests.xml
test-results/
junit.xml
trades.*
kraken_parsed_trades.xlsx

# System junk
.DS_Store
Thumbs.db
